/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_extends.scss */
text-white {
  color: #fff;
}

/* line 6, ../sass/_extends.scss */
text-lowercase, .products button.small, h1, h2, h3 {
  text-transform: lowercase;
}

/* line 3, ../sass/_buttons.scss */
.products button.small {
  background: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* line 10, ../sass/_buttons.scss */
.products button.small:hover {
  background: #fff;
  color: #4d4d4d;
}

/* line 17, ../sass/_buttons.scss */
.button-collapse {
  cursor: pointer;
  font-size: 1.953em;
  font-weight: 300;
  position: relative;
  top: -10px;
  left: 12px;
}

/* line 2, ../sass/_logos.scss */
.menu .img-link {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
}

/* line 8, ../sass/_logos.scss */
.mobile-nav .dapper_logo {
  margin-bottom: 32px;
  width: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
}

/* line 15, ../sass/_logos.scss */
.dapper_logo {
  width: 100px;
}

/* line 19, ../sass/_logos.scss */
.jackets_logo,
.shirts_logo,
.pants_logo,
.shoes_logo,
.watches_logo,
.accessory_logo {
  width: 125px;
}
@media only screen and (min-width: 40em) {
  /* line 19, ../sass/_logos.scss */
  .jackets_logo,
  .shirts_logo,
  .pants_logo,
  .shoes_logo,
  .watches_logo,
  .accessory_logo {
    width: 150px;
  }
}

/* line 31, ../sass/_logos.scss */
.products_logo {
  width: 150px;
}

/* line 2, ../sass/_typography.scss */
.menu {
  background: transparent;
}
/* line 5, ../sass/_typography.scss */
.menu li a {
  color: #000;
  font-size: 18px;
  font-weight: 100;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-transform: lowercase;
  position: relative;
}
/* line 12, ../sass/_typography.scss */
.menu li a:before {
  content: '';
  background: #000;
  height: 1px;
  -moz-transition: ease-out 0.28s;
  -o-transition: ease-out 0.28s;
  -webkit-transition: ease-out 0.28s;
  transition: ease-out 0.28s;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
}
/* line 22, ../sass/_typography.scss */
.menu li a:after {
  content: '';
  background: #000;
  height: 1px;
  -moz-transition: ease-out 0.28s;
  -o-transition: ease-out 0.28s;
  -webkit-transition: ease-out 0.28s;
  transition: ease-out 0.28s;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
}
/* line 33, ../sass/_typography.scss */
.menu li a:hover:before, .menu li a:hover:after {
  width: 45%;
}
/* line 37, ../sass/_typography.scss */
.menu li a:hover:before {
  left: 8%;
}
/* line 40, ../sass/_typography.scss */
.menu li a:hover:after {
  left: 48%;
}

/* line 49, ../sass/_typography.scss */
.main-footer a {
  color: #000;
  font-size: 1.25em;
  font-weight: 700;
  -moz-transition: ease-out 0.28s;
  -o-transition: ease-out 0.28s;
  -webkit-transition: ease-out 0.28s;
  transition: ease-out 0.28s;
  position: relative;
}
/* line 57, ../sass/_typography.scss */
.main-footer [href="#top"]:before {
  content: url("../img/arrow.png");
  background-repeat: no-repeat;
  opacity: 0;
  -moz-transition: ease-out 0.28s;
  -o-transition: ease-out 0.28s;
  -webkit-transition: ease-out 0.28s;
  transition: ease-out 0.28s;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
}
/* line 68, ../sass/_typography.scss */
.main-footer [href="#top"]:hover:before {
  opacity: 1;
  top: -30px;
}

/* line 76, ../sass/_typography.scss */
.established {
  padding-top: 84px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* line 79, ../sass/_typography.scss */
.location-heading {
  padding-top: 64px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 64em) {
  /* line 79, ../sass/_typography.scss */
  .location-heading {
    padding-top: 144px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

/* line 87, ../sass/_typography.scss */
h2 span,
h2 address {
  font-size: 0.8em;
  font-weight: 200;
}
/* line 92, ../sass/_typography.scss */
h2 a {
  color: #000;
  -moz-transition: 0.84s;
  -o-transition: 0.84s;
  -webkit-transition: 0.84s;
  transition: 0.84s;
}
/* line 95, ../sass/_typography.scss */
h2 a:hover {
  color: #000;
  font-size: 1.25em;
}

/* line 102, ../sass/_typography.scss */
.phone,
.email {
  padding-top: 64px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 102, ../sass/_typography.scss */
  .phone,
  .email {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

/* line 2, ../sass/_sidebars.scss */
.product-sidebar {
  background: #fff;
  box-sizing: border-box;
  border: 10px double #000;
  display: none;
  overflow-y: scroll;
  padding-bottom: 32px;
  width: 285px;
  z-index: 999;
  overflow: hidden;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 16, ../sass/_sidebars.scss */
.product-sidebar #product-navigation {
  width: 100%;
}
/* line 19, ../sass/_sidebars.scss */
.product-sidebar li {
  box-sizing: border-box;
  display: block;
}
/* line 22, ../sass/_sidebars.scss */
.product-sidebar li a {
  color: #000;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  -moz-transition: ease-out 0.28s;
  -o-transition: ease-out 0.28s;
  -webkit-transition: ease-out 0.28s;
  transition: ease-out 0.28s;
  position: relative;
}
/* line 32, ../sass/_sidebars.scss */
.product-sidebar li a:before {
  content: '';
  background: #000;
  height: 2px;
  -moz-transition: ease-out 0.28s;
  -o-transition: ease-out 0.28s;
  -webkit-transition: ease-out 0.28s;
  transition: ease-out 0.28s;
  width: 0;
  position: absolute;
  bottom: 2px;
  left: 25%;
}
/* line 43, ../sass/_sidebars.scss */
.product-sidebar li a:hover:before {
  width: 50%;
}
/* line 47, ../sass/_sidebars.scss */
.product-sidebar li a img {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  width: 18px;
}

/* line 55, ../sass/_sidebars.scss */
#product-navigation {
  width: 285px;
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 55, ../sass/_sidebars.scss */
  #product-navigation {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

/* line 63, ../sass/_sidebars.scss */
#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_globals.scss */
body {
  line-height: 1.8;
  font-family: "Josefin Sans", helvetica, verdana, arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* line 11, ../sass/_globals.scss */
.row {
  max-width: 100%;
}

/* line 15, ../sass/_globals.scss */
h1 {
  color: #fff;
  font-size: 1.953em;
  font-weight: 700;
  padding-top: 384px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 18px;
}
@media only screen and (min-width: 40em) {
  /* line 15, ../sass/_globals.scss */
  h1 {
    font-size: 2.441em;
    padding-top: 376px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
  }
}
@media only screen and (min-width: 64em) {
  /* line 15, ../sass/_globals.scss */
  h1 {
    padding-top: 442px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 32px;
  }
}

/* line 30, ../sass/_globals.scss */
h2 {
  font-size: 1.953em;
  font-weight: 700;
}

/* line 36, ../sass/_globals.scss */
h3 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  padding-top: 114px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}
@media only screen and (min-width: 40em) {
  /* line 36, ../sass/_globals.scss */
  h3 {
    font-size: 1.563em;
    padding-top: 172px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
}

/* line 48, ../sass/_globals.scss */
h4 {
  font-size: 1.953em;
  text-transform: lowercase;
}

/* line 53, ../sass/_globals.scss */
h5 {
  font-size: 1.953em;
  text-transform: lowercase;
  padding: 0;
}

/* line 59, ../sass/_globals.scss */
hr {
  border-bottom: 1px solid #000;
  width: 250px;
  margin-top: 0px;
  margin-right: autopx;
  margin-bottom: 0px;
  margin-left: autopx;
}

@media screen and (min-width: 64em) {
  /* line 65, ../sass/_globals.scss */
  .showProductImg {
    height: 330px;
    width: 500px;
  }
}

/* line 2, ../sass/_layout.scss */
img {
  width: 100%;
}

/* line 7, ../sass/_layout.scss */
.main-nav {
  height: 60px;
}
@media only screen and (min-width: 40em) {
  /* line 7, ../sass/_layout.scss */
  .main-nav {
    display: block;
    position: relative;
    top: 24px;
  }
}
/* line 14, ../sass/_layout.scss */
.main-nav .top-bar {
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* line 17, ../sass/_layout.scss */
.main-nav .title-bar,
.main-nav .top-bar,
.main-nav .menu {
  background: transparent;
}

/* line 24, ../sass/_layout.scss */
#main_header {
  background: url("../img/main-photo.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 96% 100%;
  height: 346px;
}
@media only screen and (min-width: 40em) {
  /* line 24, ../sass/_layout.scss */
  #main_header {
    background-position: 100% 50%;
    height: 434px;
  }
}
@media only screen and (min-width: 64em) {
  /* line 24, ../sass/_layout.scss */
  #main_header {
    height: 502px;
  }
}

/* line 38, ../sass/_layout.scss */
.header {
  margin-bottom: 84px;
  position: relative;
  top: 76px;
}

/* line 44, ../sass/_layout.scss */
.deafultProductImg {
  height: 330px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
}
@media only screen and (min-width: 64em) {
  /* line 44, ../sass/_layout.scss */
  .deafultProductImg {
    width: 500px;
  }
}

/* line 53, ../sass/_layout.scss */
.products {
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 53, ../sass/_layout.scss */
  .products {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

/* line 61, ../sass/_layout.scss */
.jackets, .shirts, .pants, .shoes, .watches, .accessories {
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 61, ../sass/_layout.scss */
  .jackets, .shirts, .pants, .shoes, .watches, .accessories {
    margin-top: 64px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
}
/* line 66, ../sass/_layout.scss */
.jackets .jacket-info, .shirts .jacket-info, .pants .jacket-info, .shoes .jacket-info, .watches .jacket-info, .accessories .jacket-info, .shirts .shirt-info, .pants .pant-info, .shoes .shoes-info, .watches .watch-info, .accessories .accessories-info {
  background: url("../img/jacket-photo.jpg");
  height: 384px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 22.5% 100%;
}
@media only screen and (min-width: 64em) {
  /* line 66, ../sass/_layout.scss */
  .jackets .jacket-info, .shirts .jacket-info, .pants .jacket-info, .shoes .jacket-info, .watches .jacket-info, .accessories .jacket-info, .shirts .shirt-info, .pants .pant-info, .shoes .shoes-info, .watches .watch-info, .accessories .accessories-info {
    height: 486px;
  }
}

/* line 79, ../sass/_layout.scss */
.shirts .shirt-info {
  background: url("../img/white-shirt.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 79, ../sass/_layout.scss */
  .shirts .shirt-info {
    background-position: 0% 0%;
  }
}

/* line 91, ../sass/_layout.scss */
.pants .pant-info {
  background: url("../img/chino-pant.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 91, ../sass/_layout.scss */
  .pants .pant-info {
    background-position: 0% 80%;
  }
}

/* line 103, ../sass/_layout.scss */
.shoes .shoes-info {
  background: url("../img/shoes.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 103, ../sass/_layout.scss */
  .shoes .shoes-info {
    background-position: 0% 100%;
  }
}

/* line 115, ../sass/_layout.scss */
.watches .watch-info {
  background: url("../img/watch.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 115, ../sass/_layout.scss */
  .watches .watch-info {
    background-position: 100% 100%;
  }
}

/* line 127, ../sass/_layout.scss */
.accessories .accessories-info {
  background: url("../img/socks.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 127, ../sass/_layout.scss */
  .accessories .accessories-info {
    background-position: 0% 50%;
  }
}

/* line 137, ../sass/_layout.scss */
.main-footer {
  height: 60px;
  margin-top: 64px;
  margin-right: 0px;
  margin-bottom: 64px;
  margin-left: 0px;
}
/* line 140, ../sass/_layout.scss */
.main-footer .social-media {
  list-style-type: none;
}
/* line 6, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
.main-footer .social-media, .main-footer .social-media li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 142, ../sass/_layout.scss */
.main-footer .social-media ul {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
/* line 144, ../sass/_layout.scss */
.main-footer .social-media ul li {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
/* line 146, ../sass/_layout.scss */
.main-footer .social-media ul li a {
  color: #000;
  font-size: 1.25em;
  -moz-transition: 0.54s;
  -o-transition: 0.54s;
  -webkit-transition: 0.54s;
  transition: 0.54s;
}
@media only screen and (min-width: 40em) {
  /* line 146, ../sass/_layout.scss */
  .main-footer .social-media ul li a {
    font-size: 1.563em;
  }
}
/* line 153, ../sass/_layout.scss */
.main-footer .social-media ul li a i {
  -moz-transition: 0.46s;
  -o-transition: 0.46s;
  -webkit-transition: 0.46s;
  transition: 0.46s;
}
/* line 155, ../sass/_layout.scss */
.main-footer .social-media ul li a i:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

/* line 166, ../sass/_layout.scss */
.about-header {
  background: url("../img/about.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 25%;
}

@media only screen and (min-width: 64em) {
  /* line 172, ../sass/_layout.scss */
  .about-content,
  .contact-info {
    padding-top: 124px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 64em) {
  /* line 179, ../sass/_layout.scss */
  .location {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
  }
}

/* line 185, ../sass/_layout.scss */
#map {
  height: 300px;
  margin-top: 12px;
  margin-right: autopx;
  margin-bottom: 0px;
  margin-left: autopx;
}
@media only screen and (min-width: 64em) {
  /* line 185, ../sass/_layout.scss */
  #map {
    margin-top: 84px;
    margin-right: autopx;
    margin-bottom: 0px;
    margin-left: autopx;
  }
}

/* line 194, ../sass/_layout.scss */
.contact-header {
  background: url("../img/contact.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

/* line 200, ../sass/_layout.scss */
.return-policy {
  margin-top: 48px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
