
.products {
  button.small {
    background: transparent;
    border: 1px solid $white;
    font-size: 16px;
    font-weight: 700;
    @extend text-lowercase;
    @include margin(32, 0, 0, 0);
    &:hover {
      background: $white;
      color: $lighten-black-1;
    }
  }
}

.button-collapse {    
  cursor: pointer;
  font-size: $secondary-header;
  font-weight: 300;
  position: relative;
  top: -10px;
  left: 12px;
}