
.product-sidebar {
  background: $white;
  box-sizing: border-box;
  border: 10px double $black;
  display: none;
  overflow-y: scroll;
  padding-bottom: 32px;
  width: 285px;
  z-index: 999;
  overflow: hidden;
  @include translate( -50%, -50% );
  position: absolute;
  left: 50%;
  top: 50%;
  #product-navigation {
    width: 100%;
  }
  li {
    box-sizing: border-box;
    display: block;
  a {
    color: $black;
    display: block;
    font-size: $fourth-header;
    font-weight: 700;
    text-align: center;
    text-transform: lowercase;
    @include padding(5, 0, 5, 0);
    @include transition(.28s ease-out);
    position: relative;
    &:before {
      content: '';
      background: $black;
      height: 2px;
      @include transition(.28s ease-out);
      width: 0;
      position: absolute;
      bottom: 2px;
      left: 25%;
    }
    &:hover {
      &:before {
        width: 50%;
      }
    }
    img {
      @include margin(0, 0, 0, 12);
      width: 18px;
      }
    }
  }
}

#product-navigation {
  width: 285px;
  @include padding(24, 0, 0, 0);
  @media only screen and (min-width: 40em) {
    @include padding(24, 0, 0, 0);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}