
.menu {
  background: transparent;
  li { 
   a {
    color: $black;
    font-size: 18px;
    font-weight: 100;
    @include padding(5, 10, 5, 10);
    text-transform: lowercase;
    position: relative;
    &:before {
      content: '';
      background: $black;
      height: 1px;
      @include transition( .28s ease-out );
      width: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
    &:after {
      content: '';
      background: $black;
      height: 1px;
      @include transition( .28s ease-out );
      width: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
      &:hover {
        &:before,
        &:after {
          width: 45%;
        }
        &:before {
          left: 8%;
        }
        &:after {
          left: 48%;
        }
      }
    }
  }
}

.main-footer {
  a {
    color: $black;
    font-size: $fourth-header;
    font-weight: 700;
    @include transition( .28s ease-out );
    position: relative;
  }
  [href="#top"] {
    &:before {
      content: url('../img/arrow.png');
      background-repeat: no-repeat;
      opacity: 0;
      @include transition( .28s ease-out );
      @include transform( translateX(-50%) );
      position: absolute;
      top: 0;
      left: 50%;
    }
    &:hover {
      &:before {
        opacity: 1;
        top: -30px;
      }
    }
  }  
}

.established {
  @include padding(84, 0, 0, 0);
}
.location-heading {
  @include padding(64, 0, 0, 0);
  @media only screen and (min-width: 64em) {
    @include padding(144, 0, 0, 0);
  }
}

h2 {
  span,
  address {
    font-size: $small-font-size;
    font-weight: 200;
  }
  a {
    color: $black;
    @include transition(.84s);
    &:hover {
      color: $black;
      font-size: $fourth-header;
    }
  }
}

.phone,
.email {
  @include padding(64, 0, 0, 0);
  @media only screen and (min-width: 40em) {
    @include padding(0, 0, 0, 0);
  }
}